In [2]:
import csv

In [8]:
import pandas as pd

In [11]:
# create list of individual candidates
election_data_path="election_data.csv"
with open(election_data_path, newline='') as election_data_file:
    election_reader=csv.reader(election_data_file, delimiter=",")
    candidate_list=[]
    for row in election_reader:
        last_row=row-1
        if row[2] != last_row[2]:
            candidate_list.append(row[2])
    print(candidate_list)

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [9]:
election_pandas=pd.read_csv(election_data_path)
election_pandas.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [ ]:
# print results
print("Election Results")
print("-------------------------")
print(f"Total votes: {total_votes})
print("-------------------------")