In [1]:
# Import Dependencies
import pandas as pd

In [9]:
# Create a path to the csv and read it into a Pandas DataFrame
ted_path = "ted_talks.csv"
ted_data = pd.read_csv(ted_path)

ted_data.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [10]:
# describe data for fact checking
ted_data.describe()

          comments     duration    languages         views
count  2550.000000  2550.000000  2550.000000  2.550000e+03
mean    191.562353   826.510196    27.326275  1.698297e+06
std     282.315223   374.009138     9.563452  2.498479e+06
min       2.000000   135.000000     0.000000  5.044300e+04
25%      63.000000   577.000000    23.000000  7.557928e+05
50%     118.000000   848.000000    28.000000  1.124524e+06
75%     221.750000  1046.750000    33.000000  1.700760e+06
max    6404.000000  5256.000000    72.000000  4.722711e+07

In [11]:
# Figure out the minimum and maximum views for a TED Talk
max=ted_data["views"].max()
min=ted_data["views"].min()
print(f"Max: {max}")
print(f"Min: {min}")

Max: 47227110
Min: 50443

In [12]:
# Create bins in which to place values based upon TED Talk views
view_bins=[50000,760000,1125000,1700000,48000000]

# Create labels for these bins
view_bin_labels=["Q1", "Q2", "Q3", "Q4"]

In [21]:
# Slice the data and place it into bins
view_bin_data=[]
view_bin_data=pd.cut(
    ted_data["views"], view_bins, labels=view_bin_labels)
view_bin_data.head()

0    Q4
1    Q4
2    Q3
3    Q3
4    Q4
Name: views, dtype: category
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [14]:
# Place the data series into a new column inside of the DataFrame
ted_data["View Quartiles"]=view_bin_data
ted_data.head()

,comments,description,duration,event,languages,main_speaker,name,title,views,View Quartiles
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110,Q4
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520,Q4
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292,Q3
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550,Q3
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869,Q4

In [18]:
# Create a GroupBy object based upon "View Group"
quartile_grouped_ted_data=ted_data.groupby("View Quartiles")

In [22]:
# Find how many rows fall into each bin
# my solution: quartile_grouped_ted_data.count().head()

# class solution
print(quartile_grouped_ted_data["View Quartiles"].count())

View Quartiles
Q1    642
Q2    633
Q3    637
Q4    638
Name: View Quartiles, dtype: int64

In [24]:
# Get the average of each column within the GroupBy object
# my solution: quartile_grouped_ted_data.mean()

# class solution
quartile_grouped_ted_data["comments","duration","languages","views"].mean()

                  comments    duration  languages         views
View Quartiles
Q1              105.188474  850.878505  21.624611  5.164464e+05
Q2              124.906793  798.225908  25.690363  9.462135e+05
Q3              164.946625  811.992151  28.169545  1.376022e+06
Q4              371.184953  844.547022  33.844828  3.955519e+06