In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Name of the CSV file
file = "donors2008.csv"

In [3]:
# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv(file, encoding="ISO-8859-1")

In [5]:
# Preview of the DataFrame
# Note that FIELD8 is likely a meaningless column
df.head()

  LastName FirstName          Employer      City State    Zip  Amount  FIELD8
0    Aaron    Eugene  State Department    Dulles    VA  20189   500.0     NaN
1    Abadi   Barbara       Abadi & Co.  New York    NY  10021   200.0     NaN
2  Adamany   Anthony           Retired  Rockford    IL  61103   500.0     NaN
3    Adams  Lorraine              Self  New York    NY  10026   200.0     NaN
4    Adams    Marion              None    Exeter    NH  03833   100.0     NaN

In [6]:
# Delete extraneous column
del df['FIELD8']
df.head()

  LastName FirstName          Employer      City State    Zip  Amount
0    Aaron    Eugene  State Department    Dulles    VA  20189   500.0
1    Abadi   Barbara       Abadi & Co.  New York    NY  10021   200.0
2  Adamany   Anthony           Retired  Rockford    IL  61103   500.0
3    Adams  Lorraine              Self  New York    NY  10026   200.0
4    Adams    Marion              None    Exeter    NH  03833   100.0

In [7]:
# Identify incomplete rows
df.count()

LastName     1776
FirstName    1776
Employer     1743
City         1776
State        1776
Zip          1776
Amount       1776
dtype: int64

In [8]:
# Drop all rows with missing information
df = df.dropna(how='any')

In [9]:
# Verify dropped rows
df.count()

LastName     1743
FirstName    1743
Employer     1743
City         1743
State        1743
Zip          1743
Amount       1743
dtype: int64

In [12]:
# The Amount column is the wrong data type. It should be numeric.
df.dtypes

LastName      object
FirstName     object
Employer      object
City          object
State         object
Zip           object
Amount       float64
dtype: object

In [27]:
# Use pd.to_numeric() method to convert the datatype of the Amount column
df["Amount"] = pd.to_numeric(df["Amount"])

In [16]:
# Verify that the Amount column datatype has been made numeric
df["Amount"].dtype

dtype('float64')

In [17]:
# Display an overview of the Employers column
df['Employer'].value_counts()

None                                           249
Self                                           241
Retired                                        126
Self Employed                                   39
Self-Employed                                   34
Google                                           6
Unemployed                                       4
Not Employed                                     4
Social Security Administration                   3
Bank Of America                                  3
University of California                         3
Henry Crown & Company                            2
Rainey Cluss LLC                                 2
University of Michigan                           2
Mayer Brown LLP                                  2
State Department                                 2
Northern Trust                                   2
University of Washington                         2
Mayer Brown                                      2
Hugo Neu Corporation                             2
ExxonMobil                                       2
University Hospital                              2
LMI                                              2
University Of Michigan                           2
Harvard University                               2
Freelance                                        2
Davis Polk & Wardwell                            2
Newton Public Schools                            2
Covington & Burling                              2
UCLA                                             2
                                              ...
AMLI Residential Partners, LLC                   1
HebrewSeniorLife                                 1
Group Health                                     1
Mission Ventures                                 1
Long Island University                           1
Vello Corporation                                1
Carrington & Carrington                          1
Full Discourse, LLC                              1
Lion Cave Capital                                1
New Center CMHS                                  1
VCUHS                                            1
Rutgers, The State University of New Jersey      1
Advocate Health Care                             1
CEMAR                                            1
Verizon                                          1
Mts Systems Corporation                          1
Innervoice, Inc.                                 1
NJDHSS                                           1
Justice Matters                                  1
Scpmg                                            1
ADP Enterprises, Inc.                            1
Rockford Board of Education                      1
Guercio & Guercio Llp                            1
Cahill Gordon & Reindel LLP                      1
Council For Excellence In Government             1
Affiliated Behavioral Medical                    1
University Research Co., Llc                     1
Portfolio Recovery                               1
Bayhill Therapeutics                             1
Henry Ford Health System                         1
Name: Employer, Length: 1011, dtype: int64

In [21]:
# Clean up Employer category. Replace 'Self Employed' and 'Self' with 'Self-Employed'
df['Employer'] = df['Employer'].replace(
    {'Self Employed': 'Self-Employed', 'Self': 'Self-Employed'})
df['Employer']=df['Employer'].replace({'Not Employed':'Unemployed','None':'Unemployed'})

In [22]:
# Verify clean-up.
df['Employer'].value_counts()

Self-Employed                                  314
Unemployed                                     257
Retired                                        126
Google                                           6
Bank Of America                                  3
University of California                         3
Social Security Administration                   3
Mayer Brown                                      2
University Hospital                              2
LMI                                              2
Northern Trust                                   2
University Of Michigan                           2
Hugo Neu Corporation                             2
Harvard University                               2
Henry Crown & Company                            2
Rainey Cluss LLC                                 2
University of Michigan                           2
Microsoft                                        2
Berger & Montague                                2
ExxonMobil                                       2
Freelance                                        2
Quadrangle Group                                 2
University of Washington                         2
Covington & Burling                              2
UCLA                                             2
United Health Group                              2
Sidley Austin LLP                                2
Mayer Brown LLP                                  2
Skadden, Arps                                    2
Jones Day                                        2
                                              ...
Essex Meadows, Inc.                              1
AMLI Residential Partners, LLC                   1
Mts Systems Corporation                          1
Long Island University                           1
Vello Corporation                                1
Carrington & Carrington                          1
Full Discourse, LLC                              1
Lion Cave Capital                                1
New Center CMHS                                  1
VCUHS                                            1
Rutgers, The State University of New Jersey      1
Advocate Health Care                             1
CEMAR                                            1
Verizon                                          1
Group Health                                     1
NJDHSS                                           1
HebrewSeniorLife                                 1
Justice Matters                                  1
Scpmg                                            1
ADP Enterprises, Inc.                            1
Rockford Board of Education                      1
Guercio & Guercio Llp                            1
Cahill Gordon & Reindel LLP                      1
Council For Excellence In Government             1
Affiliated Behavioral Medical                    1
University Research Co., Llc                     1
Portfolio Recovery                               1
Bayhill Therapeutics                             1
Innervoice, Inc.                                 1
Henry Ford Health System                         1
Name: Employer, Length: 1007, dtype: int64

In [23]:
df['Employer'] = df['Employer'].replace({'Not Employed': 'Unemployed'})
df['Employer'].value_counts()

Self-Employed                                  314
Unemployed                                     257
Retired                                        126
Google                                           6
Bank Of America                                  3
University of California                         3
Social Security Administration                   3
Mayer Brown                                      2
University Hospital                              2
LMI                                              2
Northern Trust                                   2
University Of Michigan                           2
Hugo Neu Corporation                             2
Harvard University                               2
Henry Crown & Company                            2
Rainey Cluss LLC                                 2
University of Michigan                           2
Microsoft                                        2
Berger & Montague                                2
ExxonMobil                                       2
Freelance                                        2
Quadrangle Group                                 2
University of Washington                         2
Covington & Burling                              2
UCLA                                             2
United Health Group                              2
Sidley Austin LLP                                2
Mayer Brown LLP                                  2
Skadden, Arps                                    2
Jones Day                                        2
                                              ...
Essex Meadows, Inc.                              1
AMLI Residential Partners, LLC                   1
Mts Systems Corporation                          1
Long Island University                           1
Vello Corporation                                1
Carrington & Carrington                          1
Full Discourse, LLC                              1
Lion Cave Capital                                1
New Center CMHS                                  1
VCUHS                                            1
Rutgers, The State University of New Jersey      1
Advocate Health Care                             1
CEMAR                                            1
Verizon                                          1
Group Health                                     1
NJDHSS                                           1
HebrewSeniorLife                                 1
Justice Matters                                  1
Scpmg                                            1
ADP Enterprises, Inc.                            1
Rockford Board of Education                      1
Guercio & Guercio Llp                            1
Cahill Gordon & Reindel LLP                      1
Council For Excellence In Government             1
Affiliated Behavioral Medical                    1
University Research Co., Llc                     1
Portfolio Recovery                               1
Bayhill Therapeutics                             1
Innervoice, Inc.                                 1
Henry Ford Health System                         1
Name: Employer, Length: 1007, dtype: int64

In [24]:
# Display a statistical overview
# We can infer the maximum allowable individual contribution from 'max'
df.describe()

            Amount
count  1743.000000
mean    640.124750
std    1242.343265
min       5.000000
25%     200.000000
50%     250.000000
75%     500.000000
max    5000.000000