In [1]:
# import dependencies
import pandas as pd

In [2]:
# Create a data frame with given columns and value
hey_arnold = pd.DataFrame(
    {"Character_in_show": ["Arnold", "Gerald", "Helga", "Phoebe", "Harold", "Eugene"],
     "color_of_hair": ["blonde", "black", "blonde", "black", "unknown", "red"],
     "Height": ["average", "tallish", "tallish", "short", "tall", "short"],
     "Football_Shaped_Head": [True, False, False, False, False, False]
     })

hey_arnold

  Character_in_show color_of_hair   Height  Football_Shaped_Head
0            Arnold        blonde  average                  True
1            Gerald         black  tallish                 False
2             Helga        blonde  tallish                 False
3            Phoebe         black    short                 False
4            Harold       unknown     tall                 False
5            Eugene           red    short                 False

In [3]:
# Rename columns to clean up the look
hey_arnold.columns

Index(['Character_in_show', 'color_of_hair', 'Height', 'Football_Shaped_Head'], dtype='object')

In [5]:
# Organize columns into a more logical order
hey_arnold_org=hey_arnold[["Football_Shaped_Head","Height","color_of_hair","Character_in_show"]]
hey_arnold_org.head()

   Football_Shaped_Head   Height color_of_hair Character_in_show
0                  True  average        blonde            Arnold
1                 False  tallish         black            Gerald
2                 False  tallish        blonde             Helga
3                 False    short         black            Phoebe
4                 False     tall       unknown            Harold

In [7]:
rename_hey_arnold=hey_arnold_org.rename(columns={"Football_Shaped_Head":"Football Shaped Head?",
                                                 "color_of_hair":"Color of Hair",
                                                 "Character_in_show":"Character in Show"})
rename_hey_arnold.head()

   Football Shaped Head?   Height Color of Hair Character in Show
0                   True  average        blonde            Arnold
1                  False  tallish         black            Gerald
2                  False  tallish        blonde             Helga
3                  False    short         black            Phoebe
4                  False     tall       unknown            Harold