### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import decimal as Decimal

# File to Load (Remember to Change These)
purchase_file = "pymoli_purchases.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [16]:
player_purchases=purchase_data["SN"].value_counts()
player_count=len(player_purchases)
total_players_df=pd.DataFrame([{'Total Players':player_count}])
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
item_purchases=purchase_data["Item Name"].value_counts()
item_count=len(item_purchases)
average_price=round(purchase_data["Price"].mean(),2)
total_purchases=len(purchase_data)
total_revenue=purchase_data["Price"].sum()
analysis_summary=pd.DataFrame([{"# of Unique Items":item_count, "Average Price":f"${average_price}",
                 "# of Purchases":total_purchases, "Total Revenue":f"${total_revenue}"}])
analysis_summary

   # of Purchases  # of Unique Items Average Price Total Revenue
0             780                179         $3.05      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
female_data=purchase_data.loc[purchase_data["Gender"]=="Female",:]
female_count=len(female_data["SN"].value_counts())
male_data=purchase_data.loc[purchase_data["Gender"]=="Male",:]
male_count=len(male_data["SN"].value_counts())
other_data=purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",:]
other_count=len(other_data["SN"].value_counts())
genders=["Female","Male", "Other / Non-Disclosed"]
gender_counts=[female_count, male_count, other_count]
gender_pct=[]
for g in gender_counts:
    pct=g/player_count
    gender_pct.append('{:.2%}'.format(pct))
gender_demographics=pd.DataFrame({"Gender":genders, "Total Count":gender_counts, "Percentage of Players":gender_pct}).set_index("Gender")
gender_demographics

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchases_by_gender_dataframes=[female_data, male_data, other_data]
purchase_count_by_gender={}
for idx, frame in enumerate(purchases_by_gender_dataframes):
    purchase_count=len(frame)
    total_revenue=frame["Price"].sum()
    avg_price=frame["Price"].mean()
    avg_purchase=total_revenue/gender_counts[idx]
    purchase_count_by_gender.setdefault("Gender",[]).append(genders[idx])
    purchase_count_by_gender.setdefault("Purchase Count", []).append(purchase_count)
    purchase_count_by_gender.setdefault("Average Purchase Price", []).append(f"${'{0:,.2f}'.format(avg_price)}")
    purchase_count_by_gender.setdefault("Total Purchase Value",[]).append(f"${'{0:,.2f}'.format(total_revenue)}")
    purchase_count_by_gender.setdefault("Avg Total Purchase per Person",[]).append(f"${'{0:,.2f}'.format(avg_purchase)}")
purchasing_analysis_by_gender=pd.DataFrame(purchase_count_by_gender).set_index("Gender")
purchasing_analysis_by_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#age_bin_labels=["Under 15", "15-17", "18-20", "21-23", "24-26", "27-29", "Over 30"]
#age_bins=[0, 15, 18, 21, 24, 27, 30, 46]
age_bin_labels=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_bins=[0, 9, 14, 19, 24, 29, 34, 39, 50]
purchase_data["Age Group"]=pd.cut(purchase_data["Age"], age_bins, labels=age_bin_labels)
age_demographics={}
purchases_by_age_dataframes=[]
for idx, bin in enumerate(age_bin_labels):
    age_frame=purchase_data.loc[purchase_data["Age Group"] == bin,:]
    purchases_by_age_dataframes.append(age_frame)
    player_count_per_age=len(age_frame["SN"].value_counts())
    age_pct=player_count_per_age/player_count
    age_demographics.setdefault("Age Group",[]).append(age_bin_labels[idx])
    age_demographics.setdefault("Total Count",[]).append(player_count_per_age)
    age_demographics.setdefault("Percentage of Players",[]).append('{:.2%}'.format(age_pct))
age_demographics_df=pd.DataFrame(age_demographics).set_index("Age Group")
age_demographics_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchase_count_by_age={}
for idx, frame in enumerate(purchases_by_age_dataframes):
    player_count_age=len(frame["SN"].value_counts())
    purchase_count=len(frame)
    total_revenue=frame["Price"].sum()
    avg_price=frame["Price"].mean()
    avg_purchase=total_revenue/player_count_age
    purchase_count_by_age.setdefault("Age Group",[]).append(age_bin_labels[idx])
    purchase_count_by_age.setdefault("Purchase Count",[]).append(purchase_count)
    purchase_count_by_age.setdefault("Average Purchase Price",[]).append(f"${'{0:,.2f}'.format(avg_price)}")
    purchase_count_by_age.setdefault("Total Purchase Value",[]).append(f"${'{0:,.2f}'.format(total_revenue)}")
    purchase_count_by_age.setdefault("Avg Total Purchase per Person",[]).append(f"${'{0:,.2f}'.format(avg_purchase)}")
purchasing_analysis_by_age=pd.DataFrame(purchase_count_by_age).set_index("Age Group")
purchasing_analysis_by_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [55]:
screen_names=purchase_data["SN"].value_counts().keys().tolist()
purchase_count_by_sn=purchase_data["SN"].value_counts().tolist()
top_spenders_dict={"SN":screen_names, "Purchase Count":purchase_count_by_sn}
for idx, name in enumerate(screen_names):
    total_revenue_by_player=purchase_data.loc[(purchase_data["SN"]==name),"Price"].sum()
    avg_purchase_by_player=total_revenue_by_player/purchase_count_by_sn[idx]
    top_spenders_dict.setdefault("Average Purchase Price",[]).append(f"${'{0:,.2f}'.format(avg_purchase_by_player)}")
    top_spenders_dict.setdefault("Total Purchase Value",[]).append(total_revenue_by_player)
top_spenders_analysis=pd.DataFrame(top_spenders_dict).set_index("SN").sort_values("Total Purchase Value", ascending=False)
top_spenders_analysis.head()

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame