### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [27]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import decimal as Decimal

# File to Load (Remember to Change These)
purchase_file = "pymoli_purchases.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [24]:
player_purchases=purchase_data["SN"].value_counts()
player_count=len(player_purchases)
total_players_df=pd.DataFrame([{'Total Players':player_count}])
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
item_purchases=purchase_data["Item Name"].value_counts()
item_count=len(item_purchases)
average_price=round(purchase_data["Price"].mean(),2)
total_purchases=len(purchase_data)
total_revenue=purchase_data["Price"].sum()
analysis_summary=pd.DataFrame([{"# of Unique Items":item_count, "Average Price":f"${average_price}",
                 "# of Purchases":total_purchases, "Total Revenue":f"${total_revenue}"}])
analysis_summary

   # of Purchases  # of Unique Items Average Price Total Revenue
0             780                179         $3.05      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [154]:
female_data=purchase_data.loc[purchase_data["Gender"]=="Female",:]
female_count=len(female_data["SN"].value_counts())
male_data=purchase_data.loc[purchase_data["Gender"]=="Male",:]
male_count=len(male_data["SN"].value_counts())
other_data=purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",:]
other_count=len(other_data["SN"].value_counts())
genders=["Female","Male", "Other / Non-Disclosed"]
gender_counts=[female_count, male_count, other_count]
gender_pct=[]
for g in gender_counts:
    pct=round(100*g/player_count,2)
    gender_pct.append(f"{pct}%")
gender_demographics=pd.DataFrame({"Gender":genders, "Total Count":gender_counts, "Percentage of Players":gender_pct}).set_index("Gender")
gender_demographics

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [168]:
purchases_by_gender_dataframes=[female_data, male_data, other_data]
purchase_count_by_gender={}
for frame in purchases_by_gender_dataframes:
    purchase_count_by_gender.setdefault("Purchase Count", []).append(len(frame))
    purchase_count_by_gender.setdefault("Average Purchase Price", []).append(round(frame["Price"].mean(),2))
    purchase_count_by_gender.setdefault("Total Purchase Value",[]).append(round(frame["Price"].sum(),2))
female_player_purchases=female_data.groupby("SN")
female_mean_purchase=female_player_purchases["Price"].mean().mean()
female

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame