In [1]:
import pandas as pd

In [3]:
# The path to our CSV file
kickstarter_path="KickstarterData.csv"

# Read our Kickstarter data into pandas
kickstarter_data=pd.read_csv(kickstarter_path)
kickstarter_data.head()

,id,photo,name,blurb,goal,pledged,state,slug,disable_communication,country,...,location,category,profile,spotlight,urls,source_url,friends,is_starred,is_backing,permissions
0,1645666704,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",The Class Act Players Theatre Company Presents...,The Class Act Players put on another one of th...,1500.0,2925.0,successful,the-class-act-players-theatre-company-presents...,False,US,...,"{""country"":""US"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
1,874638240,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,"A brand new play about love and entitlement, b...",2500.0,2936.0,successful,mr-incredible-by-camilla-whitehill-vault-festival,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
2,247074984,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",RUN,Yonni's pissed off in a world filled with scho...,1000.0,1200.0,successful,run-10,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
3,1941196813,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",9th International Meeting of Youth Theatre sap...,27. April bis 1. Mai 2016 in Brixen/Südtirol/I...,2000.0,2135.0,successful,9th-international-meeting-of-youth-theatre-sap...,False,IT,...,"{""country"":""IT"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
4,421961595,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",Get Conti to the Ed Fringe!,The Italia Conti 2nd years are going to Ed Fri...,1000.0,1250.0,successful,get-conti-to-the-ed-fringe,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN

In [4]:
# Get a list of all of our columns for easy reference
kickstarter_data.columns

Index(['id', 'photo', 'name', 'blurb', 'goal', 'pledged', 'state', 'slug',
       'disable_communication', 'country', 'currency', 'currency_symbol',
       'currency_trailing_code', 'deadline', 'state_changed_at', 'created_at',
       'launched_at', 'staff_pick', 'is_starrable', 'backers_count',
       'static_usd_rate', 'usd_pledged', 'creator', 'location', 'category',
       'profile', 'spotlight', 'urls', 'source_url', 'friends', 'is_starred',
       'is_backing', 'permissions'],
      dtype='object')

In [16]:
# Extract "name", "goal", "pledged", "state", "country", "staff_pick",
# "backers_count", and "spotlight"
kickstarter_clean1=kickstarter_data[["name","goal","pledged", "state", "country", "staff_pick", "backers_count", "spotlight"]]
kickstarter_clean1.head(100)

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.00,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.00,successful,GB,True,15,True
2,RUN,1000.0,1200.00,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.00,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.00,successful,GB,False,28,True
5,Somebody Out There Loves Me @ Edinburgh Fringe...,1100.0,1100.00,successful,GB,False,41,True
6,Stand Up & Slam! at the Edinburgh Fringe,1500.0,1605.00,successful,GB,False,49,True
7,Edinburgh Fringe Tour of Two Modern Classics,2550.0,2552.00,successful,GB,False,17,True
8,Forefront Festival 2015,7200.0,7230.00,successful,US,False,68,True
9,Tangerine Theatre presents GODDESS by Serena H...,1200.0,1625.00,successful,GB,False,34,True
10,I Would... get us to Edinburgh!,700.0,745.00,successful,GB,False,27,True
11,Hamlet the Hip-Hopera,9747.0,10103.00,successful,US,True,132,True
12,In The Company Of Women,1987.0,1987.00,successful,GB,False,17,True
13,Interview with a Genius and Half Arsed Flyerer...,230.0,230.00,successful,GB,False,8,True
14,Pride Con,15000.0,15110.00,successful,US,False,60,True
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.00,successful,US,True,80,True
16,Stacy Queen & Berri Juicy @ Fringe Festival 2016,500.0,610.00,successful,AU,False,12,True
17,"My Life in Michaels, a short play",1200.0,1265.00,successful,US,False,19,True
18,African Celebration!,40000.0,40219.00,successful,NO,False,58,True
19,MSGA Junior Theater Festival 2016,1000.0,1300.00,successful,US,False,17,True
20,A Kingdom for a Stage! - Much Ado...,5000.0,6475.00,successful,US,False,105,True
21,BE BETTER: Urban Foxes - Edinburgh Festival (F...,1300.0,1644.00,successful,GB,False,34,True
22,"Born in Burnley, Made in Edinburgh",1000.0,1132.00,successful,GB,False,51,True
23,SOCKS,1000.0,1420.00,successful,CA,False,29,True
24,CASA Latin American Theatre Festival 2015,7500.0,7503.77,successful,GB,True,117,True
25,Scattered,2500.0,2501.00,successful,GB,False,28,True
26,EUTCo presents scenes from Tom Wells' 'The Kit...,700.0,806.00,successful,GB,False,22,True
27,Two Thirds @ the Edinburgh Fringe Festival,800.0,800.00,successful,GB,False,9,True
28,The Curiositorium at the Edinburgh Fringe 2015,1500.0,1936.99,successful,GB,False,61,True
29,ANTIGONE: An Arabian Tragedy,300.0,375.00,successful,GB,False,5,True
30,The Wee Theatre Festival,2000.0,2182.00,successful,GB,False,68,True
31,Bartleby: a new musical at the MN Fringe,2000.0,2625.00,successful,US,False,25,True
32,"The Point, a show in the Women's Voices Theate...",3150.0,3150.00,successful,US,False,22,True
33,An Intimate Evening With Typhoid Mary,6700.0,7050.00,successful,US,False,102,True
34,Hannah and Hanna,1000.0,1025.00,successful,GB,False,24,True
35,Billy Through the Window,2500.0,2605.00,successful,GB,True,66,True
36,USOL @ The Edinburgh Fringe,400.0,476.00,successful,GB,False,20,True
37,A Working Title,1500.0,1606.00,successful,GB,False,37,True
38,"I Love You, You're Perfect, Now Change",200.0,265.00,successful,GB,False,11,True
39,"""Poor People"" at FringeNYC 2015",5500.0,5682.00,successful,US,True,34,True
40,Heroes Needed for our 10th Anniversary X Fest!,1500.0,1625.00,successful,CA,False,20,True
41,"Get ""High Torches"" to the Edinburgh Fringe 2015!",2000.0,2434.00,successful,GB,False,29,True
42,Painting His Wings by Sinead Daly at FringeNYC,8000.0,8780.00,successful,US,False,140,True
43,"Lindsay Benner takes ""Book of Love"" to the Edi...",10939.0,13116.00,successful,US,False,160,True
44,Queen Mab's Steampunk and Fairie Street Festival,1300.0,3363.00,successful,US,True,62,True
45,RAFT: a new play by Emily Kitchens,7500.0,7826.00,successful,US,True,120,True
46,butyou'reaman in New York,5000.0,5717.00,successful,US,False,136,True
47,The Spinning Wheel: a son remixes a father's r...,20000.0,22602.00,successful,US,True,228,True
48,bring the children home...,2500.0,2500.00,successful,US,False,46,True
49,LOVE SICK,3500.0,3667.00,successful,GB,False,88,True
50,Bloomers Presents: LaughtHERfest,8000.0,9501.00,successful,US,True,102,True
51,The Soaking of Vera Shrimp at the Edinburgh Fe...,1000.0,1235.00,successful,GB,False,41,True
52,#liberated,2000.0,2295.00,successful,US,False,62,True
53,The Hiawatha to Edinburgh Fringe,750.0,1025.00,successful,GB,False,25,True
54,Natasha Noman's Noman's Land | Aug 5-15th Edi...,7000.0,7571.00,successful,US,True,84,True
55,Pentagon Theatre's 'Forever House',1500.0,1505.00,successful,GB,False,31,True
56,Portrait by Above Bounds Theatre Collective,600.0,648.00,successful,GB,False,37,True
57,I GAVE HIM AN ORCHID,2500.0,2582.00,successful,GB,False,73,True
58,Laughing Stock - Edinburgh Fringe 2015,2000.0,2582.00,successful,GB,False,52,True
59,COSPLAY,5000.0,5000.00,successful,US,False,42,True

In [19]:
# Remove projects that made no money at all
kickstarter_clean1["pledged"]=pd.to_numeric(kickstarter_clean1["pledged"])
kickstarter_clean2=kickstarter_clean1.loc[kickstarter_clean1["pledged"] > 0,:]
kickstarter_clean2.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True

In [22]:
# Collect only those projects that were hosted in the US
kickstarter_clean_over0_US_only=kickstarter_clean2.loc[kickstarter_clean2["country"] == "US",:]
kickstarter_clean_over0_US_only.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
8,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True
11,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True
14,Pride Con,15000.0,15110.0,successful,US,False,60,True
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True

In [26]:
# Create a new column that finds the average amount pledged to a project
avg_pledge=kickstarter_clean_over0_US_only["pledged"]/kickstarter_clean_over0_US_only["backers_count"]
kickstarter_over0_US_avgpledge=kickstarter_clean_over0_US_only
kickstarter_over0_US_avgpledge["Avg Pledge"]=avg_pledge
kickstarter_over0_US_avgpledge.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,Avg Pledge
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True,172.058824
8,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True,106.323529
11,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True,76.537879
14,Pride Con,15000.0,15110.0,successful,US,False,60,True,251.833333
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True,128.825000

In [29]:
# First convert "average_donation", "goal", and "pledged" columns to float
kickstarter_over0_US_avgpledge[["goal","pledged","Avg Pledge"]]=pd.to_numeric(kickstarter_over0_US_avgpledge[["goal","pledged","Avg Pledge"]])
# Then Format to go to two decimal places, include a dollar sign, and use comma notation

TypeError: arg must be a list, tuple, 1-d array, or Series

In [ ]:
# Calculate the total number of backers for all US projects

In [ ]:
# Calculate the average number of backers for all US projects

In [ ]:
# Collect only those US campaigns that have been picked as a "Staff Pick"

In [ ]:
# Group by the state of the campaigns and see if staff picks matter (Seems to matter quite a bit)