In [1]:
import pandas as pd

In [2]:
# The path to our CSV file
kickstarter_path="KickstarterData.csv"

# Read our Kickstarter data into pandas
kickstarter_data=pd.read_csv(kickstarter_path)
kickstarter_data.head()

,id,photo,name,blurb,goal,pledged,state,slug,disable_communication,country,...,location,category,profile,spotlight,urls,source_url,friends,is_starred,is_backing,permissions
0,1645666704,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",The Class Act Players Theatre Company Presents...,The Class Act Players put on another one of th...,1500.0,2925.0,successful,the-class-act-players-theatre-company-presents...,False,US,...,"{""country"":""US"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
1,874638240,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,"A brand new play about love and entitlement, b...",2500.0,2936.0,successful,mr-incredible-by-camilla-whitehill-vault-festival,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
2,247074984,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",RUN,Yonni's pissed off in a world filled with scho...,1000.0,1200.0,successful,run-10,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
3,1941196813,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",9th International Meeting of Youth Theatre sap...,27. April bis 1. Mai 2016 in Brixen/Südtirol/I...,2000.0,2135.0,successful,9th-international-meeting-of-youth-theatre-sap...,False,IT,...,"{""country"":""IT"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
4,421961595,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",Get Conti to the Ed Fringe!,The Italia Conti 2nd years are going to Ed Fri...,1000.0,1250.0,successful,get-conti-to-the-ed-fringe,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN

In [3]:
# Get a list of all of our columns for easy reference
kickstarter_data.columns

Index(['id', 'photo', 'name', 'blurb', 'goal', 'pledged', 'state', 'slug',
       'disable_communication', 'country', 'currency', 'currency_symbol',
       'currency_trailing_code', 'deadline', 'state_changed_at', 'created_at',
       'launched_at', 'staff_pick', 'is_starrable', 'backers_count',
       'static_usd_rate', 'usd_pledged', 'creator', 'location', 'category',
       'profile', 'spotlight', 'urls', 'source_url', 'friends', 'is_starred',
       'is_backing', 'permissions'],
      dtype='object')

In [7]:
# Extract "name", "goal", "pledged", "state", "country", "staff_pick",
# "backers_count", and "spotlight"
kickstarter_trim=kickstarter_data[["name","goal","pledged", "state", "country", "staff_pick", "backers_count", "spotlight"]].sort_values("pledged")
kickstarter_trim.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
1668,ERP Lite,125000.0,0.0,failed,US,False,0,False
1741,Cards Against All Odds,550.0,0.0,failed,ES,False,0,False
1740,On-Demand Babysitter App & Service,50000.0,0.0,failed,US,False,0,False
1735,E-Voting by Smartphone: Direct Democracy 2016,55000000.0,0.0,failed,US,False,0,False
613,REPORTUS The smart fault reporting system (Can...,50000.0,0.0,canceled,GB,False,0,False

In [16]:
# Remove projects that made no money at all

# solution using a filter to hide $0 pledged projects 
#kickstarter_clean2=kickstarter_clean1.loc[kickstarter_clean1["pledged"] > 0,:]
#kickstarter_clean2.head()

# solution using drop to actually DELETE rows less than 0
kickstarter_over0=kickstarter_trim
kickstarter_over0=kickstarter_over0.drop(kickstarter_over0[kickstarter_over0.pledged < 1].index)
kickstarter_over0.sort_values("country").head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
1764,NetSec,5000.0,55.0,failed,AT,False,2,False
1186,MusicPoll,10000.0,50.0,failed,AT,False,3,False
1562,Approaching App,5000.0,15.0,failed,AT,False,1,False
3120,"Kabarettstück ""Dicht in da Nochtschicht""",550.0,30.0,failed,AT,False,1,False
1224,Reginald: A new way of looking at sourcecode,19000.0,163.0,failed,AT,False,6,False

In [20]:
# Collect only those projects that were hosted in the US
# solution using a filter to hide non-US projects
#kickstarter_over0_US=kickstarter_over0.loc[kickstarter_over0["country"] == "US",:]
#kickstarter_over0_US.head()

#solution using drop to delete non-US rows
kickstarter_over0_us=kickstarter_over0
kickstarter_over0_us=kickstarter_over0_us.drop(kickstarter_over0_us[kickstarter_over0_us.country != "US"].index)
kickstarter_over0_us.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
3128,The Container Play,7500.0,1.0,failed,US,False,1,False
2149,MyEasyBarter.com / Buy Sell Trade!,1500.0,1.0,failed,US,False,1,False
2731,A Website for You,50.0,1.0,failed,US,False,1,False
2197,IP SpyBlock Hackers and Spammers Server/Client,600.0,1.0,failed,US,False,1,False
1152,Traits from Pix,32000.0,1.0,failed,US,False,1,False

In [26]:
# Create a new column that finds the average amount pledged to a project
avg_pledge=kickstarter_over0_us["pledged"]/kickstarter_over0_us["backers_count"]
kickstarter_over0_us_avgpledge=kickstarter_over0_us.sort_index().reset_index(drop=True)
kickstarter_over0_us_avgpledge["Avg Pledge"]=avg_pledge
kickstarter_over0_us_avgpledge.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,Avg Pledge
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True,172.058824
1,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True,NaN
2,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True,NaN
3,Pride Con,15000.0,15110.0,successful,US,False,60,True,NaN
4,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True,NaN

In [36]:
# First convert "average_donation", "goal", and "pledged" columns to float

#data was already in the proper forms, so convert to objects then convert back
kickstarter_over0_us_avgpledge.to_object(kickstarter_over0_us_avgpledge["Avg Pledge"])
# kickstarter_over0_us_avgpledge.dtypes
#kickstarter_over0_US_avgpledge["goal"]=pd.to_numeric(kickstarter_over0_US_avgpledge["goal"])
# Then Format to go to two decimal places, include a dollar sign, and use comma notation

AttributeError: 'DataFrame' object has no attribute 'to_object'

In [ ]:
# Calculate the total number of backers for all US projects

In [ ]:
# Calculate the average number of backers for all US projects

In [ ]:
# Collect only those US campaigns that have been picked as a "Staff Pick"

In [ ]:
# Group by the state of the campaigns and see if staff picks matter (Seems to matter quite a bit)